@import url("../abstracts/fonts.css");

html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Zen Kaku Gothic New", sans-serif;
  --line-height-base: 1.5;
  --font-weight-base: 400;

  color: #f5f5f5;
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
