.container {
    height: 20rem;
    width: 100%;
    color: white;
    perspective: 800px;
}

.card {
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    filter: drop-shadow(#9a11d9 0px 7px 29px 0px);
}

.container:hover > .card {
    cursor: pointer;
    transform: rotateX(180deg) rotateZ(-180deg);
}

.front,
.back {
    background: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 40px,
        100% calc(100% - 40px),
        calc(100% - 40px) 100%,
        40px 100%,
        0 calc(100% - 40px)
    );
}

.back {
    transform: rotateX(180deg) rotateZ(-180deg);
}

.heading {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: min-content;
}
